﻿body, html {
   
    font-family:Calibri, Verdana, Helvetica, Arial, sans-serif;

    background: #f1f1f1; /* para os browsers que não suportam o gradient do css3 */
    background: -webkit-linear-gradient(#f1f1f1, #fff); /* Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f1f1f1, #fff); /* Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f1f1f1, #fff); /* Firefox 3.6 to 15 */
    background: linear-gradient(#f1f1f1, #fff); /* 'sintaxe padrão' ou deveria ser */
}

.mdl-layout {
	align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height:100%;
}
.mdl-layout__content {
	padding: 24px;
	flex: none;
}

main h4{
    color: #808080;
    font-weight:bold;
    border-bottom: 2px solid #808080;
}

.msg-autenticacao-error{
    padding:08px;
    color: #ff0000;
}

#loading-login{
    display:none;
}