<div class="mdl-layout mdl-js-layout mdl-color--grey-100">

    <main class="mdl-layout__content">
    
            <div class="mdl-card mdl-shadow--6dp">
            
                <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
                    <h2 class="mdl-card__title-text">Realize seu login</h2>
                </div>
                
                <div class="mdl-card__supporting-text">
                    <form action="#">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" id="usuarioLogin" ng-model="usuarioLogin" />
                            <label class="mdl-textfield__label" for="usuarioLogin">Usuário/Login</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="password" id="senha" ng-model="senha" />
                            <label class="mdl-textfield__label" for="senha">Senha</label>
                        </div>
                        
                    </form>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <div class="class=" mdl-layout__content">
                        <div class="mdl-cell mdl-cel--3-col"></div>
                        <div class="mdl-cell mdl-cel--3-col">
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" ng-click="Logar()">
                                Logar
                            </button>
                        </div>
                        <div class="mdl-cell mdl-cel--3-col"></div>
                    </div>
                    <div class="msg-autenticacao-error">
                        <!-- MDL Progress Bar with Indeterminate Progress -->
                        <div id="loading-login" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
                        <span>{{msgErroAutenticacao}}</span>
                        <span>{{msgRotaNaoAutorizada}}</span>
                    </div>
                </div>
            </div>
    </main>
</div>