
<div class="mdl-layout mdl-js-layout mdl-color--grey-100">

    <main class="mdl-layout__content">
        <h4>Lista de Produtos</h4>

        <table class="mdl-data-table mdl-js-data-table">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Nome</th>
                    <th class="mdl-data-table__cell--non-numeric">Descrição</th>
                    <th class="mdl-data-table__cell--numeric">Preço</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="produto in listaDeProdutos">
                    <td class="mdl-data-table__cell--non-numeric">{{produto.Nome}}</td>
                    <td>{{produto.Descricao}}</td>
                    <td>{{produto.Preco | currency:'R$':2}}</td>
                </tr>
            </tbody>
        </table>
    </main>

</div>


